<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category>
		<setting id="custom_json" type="bool" label="32109" default="false" />
		<setting id="custom_json_file" type="file" label="32110" default="" visible="eq(-1,true) + eq(-7,false)" />
		<setting id="fallback" type="bool" label="32111" default="false" />
		<setting id="fallback_path" type="folder" label="32112" default="" visible="eq(-1,true) + eq(-7,false)" />
	</category>
</settings>
